packages:
    yum:
        gcc: []
        gcc-c++: [] 
        make: []
        zip: [] 
        unzip: [] 
        php71-gd: [] 
        php71-cli: []
        php71-mbstring: []
        php71-mysqlnd: []
        linuxdoc-tools: []
        libcgroup-devel: []
        texlive-collection-latexrecommended: [] 
        texlive-wrapfig: []
container_commands:
    install:
        command: "chmod +x install.sh && ./install.sh"
